#root {
	margin: 0 auto;
	padding: 2rem 10rem;
	text-align: center;
	border: 3px solid red;
	border-radius: 50px;
}
* {
	background-color: black;
}

button {
	background-color: #bb9600 !important;
	text-transform: uppercase;
	border-radius: 8px;
	margin: 0.3em;
	padding: 1em;
	font-size: 1em;
	font-weight: bold;
	font-family: inherit;
	cursor: pointer;
	transition: 0.75s;
}
button:hover {
	background-color: #c03101 !important;
	transform: scale(1.15);
}
